@model  List<Employee.UI.ViewModel.UserListViewModel>
@{
    ViewBag.Title = "Index";
}



<script type="text/javascript">
    $(document).ready(function () {

        $('#checkBoxAll').click(function () {

            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });


        $('#btnDeleteAll').click(function () {

            var delArray = new Array();

            $("table > tbody > tr").each(function () {

                var element = $(this).find('input[type="checkbox"]');

                if ($(element).is(":checked"))

                    delArray.push($(element).val());
            });


            if (delArray.length == 0) {

                $('#myModal').modal('show');

            } else {

                $.post('/Home/JsonGetStatesInfo', { delArray: delArray },
                    function (data) {
                        if (data.result != null && data.result != undefined) {
                            console.log(data.result);
                        }
                    });
            }



        });
    });

</script>

@if (Model != null)
{

    <div class="container">
        <h1>User Details : @Model.Count()</h1>
        <div class="table-responsive">
            <table id="DataTable" class="table table-striped">

                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Aadhaar</th>
                        <th>Pancard</th>
                        <th> IsActive</th>
                        <th>Action <input type="button" id="btnDeleteAll" class="btn btn-danger" value=" Delete" /></th>

                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @*id="chk_@item.UserId"*@
                            <td><input type="checkbox" name="ID" value="@item.UserId" class="custom-checkbox chkCheckBoxId" /></td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.PrimaryPhone</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.AadhaarUrl))
                                {
                                    <img src="@Url.Content("~/Content/file.png")" alt="Image" />
                                }
                                else
                                {
                                    <span>N/A</span>
                                }

                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.PanUrl))
                                {
                                    <img src="@Url.Content("~/Content/file.png")" alt="Image" />
                                }
                                else
                                {
                                    <span>N/A</span>
                                }

                            </td>
                            <td>@item.IsActive</td>
                            <td>
                                
                                <input type="button" id="@item.UserId" class="btn btn-default" value=" Edit" />
                                
                                <input type="button" id="@item.UserId" class="btn btn-primary" value=" View" />
                             
                                <input type="button" id="@item.UserId" class="btn btn-danger" value=" Delete" />
                            </td>

                        </tr>
                    }

                </tbody>


            </table>

        </div>
    </div>
}
else
{
    <div>Please login into EMS</div>
}


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 style="color:red" class="modal-title">Do you want to delete ?</h4>
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                No checkbox checked. Please select the row which you want to delete..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>