@model  Employee.UI.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Contact";


    var test = Url.Action("GetCityByState", "Home");
}

<script src="~/Scripts/Custom/register.js"></script>


<style>

    .text-on-pannel {
        background: #fff none repeat scroll 0 0;
        height: auto;
        margin-left: 20px;
        padding: 3px 5px;
        position: absolute;
        margin-top: -47px;
        border: 1px solid #337ab7;
        border-radius: 8px;
    }

    .panel {
        /* for text on pannel */
        margin-top: 27px !important;
    }

    .panel-body {
        padding-top: 30px !important;
    }
</style>

<div class="container__child signup__form">
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Basic Detail </strong></h3>
                    <div class="form-group">
                        <label for="UserName">Username</label>

                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "james.bond" })
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        @*<input class="form-control" type="text" name="email" id="email" placeholder="james.bond@spectre.com" required />*@
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "text", name = "email", id = "email", placeholder = "james.bond@spectre.com" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        @*<input class="form-control" type="password" name="password" id="password" placeholder="********" required />*@
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", name = "password", id = "password", placeholder = "********" })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="RepeatPassword">Repeat Password</label>
                        @*<input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="********" required />*@
                        @Html.TextBoxFor(x => x.RepeatPassword, new { @class = "form-control", type = "password", name = "passwordRepeat", id = "passwordRepeat", placeholder = "********" })
                        @Html.ValidationMessageFor(x => x.RepeatPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="DateOfBirth">DateOfBirth</label>
                        @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control", Type = "date", name = "DateOfBirth", id = "DateOfBirth" })
                        @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="PrimaryPhone">PrimaryPhoneNumber</label>
                        @Html.TextBoxFor(x => x.PrimaryPhone, new { @class = "form-control", type = "string", name = "PrimaryPhone", placeholder = "9900887766" })
                        @Html.ValidationMessageFor(x => x.PrimaryPhone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="SecondaryPhone">SecondaryPhoneNumber</label>
                        @Html.TextBoxFor(x => x.SecondaryPhone, new { @class = "form-control", type = "string", name = "SecondaryPhone", placeholder = "9900887890" })
                        @Html.ValidationMessageFor(x => x.SecondaryPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Current Address </strong></h3>

                    <div class="form-group">
                        <label for="CurrentState">State :</label>
                        @Html.DropDownListFor(x => x.CurrentState, new SelectList(ViewBag.StateList, "Id", "Name"), "Select State", new { @class = "form-control", onchange = "new EmployeeRegister().PopulateCities(this.id);" })
                        @Html.ValidationMessageFor(x => x.CurrentState, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="CurrentCity">City :</label>
                        @Html.DropDownListFor(x => x.CurrentCity, new List<SelectListItem>
    { new SelectListItem { Text = "new delhi", Value = "1"},
     new SelectListItem { Text = "Chandigarh", Value = "2"},
     new SelectListItem { Text = "Amritsar", Value = "3"}
     }, "Select City", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CurrentCity, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="CurrentAddress">Address:</label>
                        @Html.TextAreaFor(x => x.CurrentAddress, new { @class = "form-control", type = "text", name = "CurrentAddress", id = "CurrentAddress", placeholder = "House Number F13/2295,Street Number 1, New Nehru Colony" })
                        @Html.ValidationMessageFor(x => x.CurrentAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label for="IsAddressSame">Is Same As Permanent Address</label>
            @Html.CheckBoxFor(x => x.IsAddressSame, new { onclick = "new EmployeeRegister().PopulatePermanentAddress();" })
        </div>

        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Permanenent Address </strong></h3>


                    <div class="form-group">
                        <label for="PermanentState">State :</label>
                        @Html.DropDownListFor(x => x.PermanentState,new SelectList(ViewBag.StateList, "Id", "Name"), "Select State", new { @class = "form-control", onchange = "new EmployeeRegister().PopulatePermanentCities(this.id);" })
                        @Html.ValidationMessageFor(x => x.PermanentState, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="PermanentCity">City :</label>
                        @Html.DropDownListFor(x => x.PermanentCity, new List<SelectListItem>
            { new SelectListItem { Text = "new delhi", Value = "1"},
            new SelectListItem { Text = "Chandigarh", Value = "2"},
            new SelectListItem { Text = "Amritsar", Value = "3"}
            }, "Select City", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.PermanentCity, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="PermanentAddress">Address:</label>
                        @Html.TextAreaFor(x => x.PermanentAddress, new { @class = "form-control", type = "text", name = "PermanentAddress", id = "PermanentAddress", placeholder = "House Number F13/2295,Street Number 1, New Nehru Colony" })
                        @Html.ValidationMessageFor(x => x.PermanentAddress, "", new { @class = "text-danger" })
                    </div>


                </div>
            </div>
        </div>
        <div>

            <div class="row">
                <div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.AadhaarNumber, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(x => x.AadhaarNumber, new { @class = "form-control", Type = "long", placeholder = "678923451945" })
                        @Html.ValidationMessageFor(x => x.AadhaarNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.PanCardNumber, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(x => x.PanCardNumber, new { @class = "form-control", Type = "string", placeholder = "FK23451945MK" })
                        @Html.ValidationMessageFor(x => x.PanCardNumber, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.TextBoxFor(m => m.AadhaarFile, new { type = "file" })
                    <br />
                    @Html.ValidationMessageFor(m => m.AadhaarFile, "", new { @class = "error" })
                </div>

            </div>

            <div class="m-t-lg">
                <ul class="list-inline">
                    <li>
                        <input class="btn btn-primary" type="submit" value="Register" />
                    </li>
                    <li>
                        <a class="signup__link" href="@Url.Action("Login","User")">I am already a member</a>
                    </li>
                </ul>
            </div>


        </div>


    }
</div>
